@font-face {
    font-family: 'Univers Condensed';
    src: url('../fonts/UniversCondensed-Medium.eot');
    src: url('../fonts/UniversCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniversCondensed-Medium.woff') format('woff'),
        url('../fonts/UniversCondensed-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}