/**
 * 全局变量
 */

// 字体
$font-family: 'Univers Condensed', '微软雅黑',  'PingFang SC', 'Helvetica Nenu',Helvetica,sans-serif;

$font-family2: '微软雅黑',  'PingFang SC', 'Helvetica Nenu',Helvetica,sans-serif;

// 颜色
$color-primary: #000;
$color-red: #c82b2f;

// 头部高度
$header-height: 80px;

// 内容宽度
$cont-width: 1140px;

// 最高 z-in
$max-zindex: 1000;